h1 {
  text-align: center;
}


#potato {
  position: relative;
  width: 367px;
  height: 500px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

#potato img {
  position: absolute;
}

/* Insert CSS for body below this line*/
#body { 
  top: 28px; left: 68px; 
}

#arms_image {
  position:fixed;
  top:180px;
  left:29px;
}

#ears_image {
  position:fixed;
  top:103px;
  left:59px;
}

#eyes_image {
  position:fixed;
  top:90px;
  left:130px;
}

#mouth_image {
  bottom: 200px;
  left: 115px;  
}

#nose_image {
  top: 130px;
  left: 130px;
}

#eyebrows_image {
  position:fixed;
  top:75px;
  left:100px;
}

#glasses_image {
  top: 75px;
  left: 97px;
}

#hat_image {
  position:fixed;
  top:0px;
  left:95px;
}



#moustache_image {
  top: 160px;
  left: 90px;
}

#shoes_image {
  bottom: 100px;
  left: 45px;
}

#cane_image {
  
}

#earrings_image {

}





#hatflower_image {
  
}

#boosters_image {
  

